@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --skin-color: #ff6347; 
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-black-900);
}

body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;

}



/* Aside */
.aside {
  width: 270px;
  background-color: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 60px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  z-index: 10;
  transition: all 0.3s ease;



overflow-y: auto; /* Dikey kaydırma çubuğu */
flex-direction: column; /* İçeriği dikey hizalar */
box-sizing: border-box;
  
}

/* Menü Alanı */
.inner-sidebar {
  padding: 50px 0px; /* Üst ve yan boşluklar */
  flex-grow: 1; /* Menü alanının büyümesini sağlar */
  overflow-y: auto; /* Dikey kaydırma çubuğu ekler */

  margin-top: 40px; /* Logodan biraz boşluk bırakır */
    box-sizing: border-box;
  min-height: 0; /* İçeriğin kaydırılabilir olmasını sağlar */
  
}
/* Menü Listesi */
.inner-sidebar .nav {
  list-style-type: none;
  padding: 10px;
  margin: 0px;
}

/* Menü Öğeleri */
.inner-sidebar .nav li {
  margin-bottom:20px;
}

/* Menü Bağlantıları */
.inner-sidebar .nav li a {
  font-size: 16px;
  font-weight: 100;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
  text-decoration: none; /* Alt çizgi kaldırma */
}

/* Aktif Menü Bağlantısı */
.inner-sidebar .nav li a.active {
 
  color: var(--skin-color);
}
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
  padding: 30px 15px; /* Üst ve yan boşluklar */
  background-color: var(--bg-black-100); /* Logonun arka plan rengi */
  border-bottom: 1px solid var(--bg-black-50); /* Logoyu proje listesinden ayırmak için sınır */

  
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;



  text-transform: capitalize;
  display: block;
  text-align: center; /* Logoyu ortalar */
}

.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
}

.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}

.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background-color: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background-color: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggler.open span {
  background-color: transparent;
}

.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background-color: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background-color: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}

.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

.aside .nav {
  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a em {
  margin-right: 15px;
}





/* Proje Detayları */
.project-details {
  max-width: 1200px; /* İsteğe bağlı olarak genişlik ayarı yapabilirsiniz */
  margin: 0 auto; /* Ortalamak için margin ayarı */
  padding: 20px;

 
}

.project-video {
  text-align: center;
  margin-bottom: 20px;
  

}
.project-video h1 {
  color: var(--text-black-900);
}
.project-video video {
  width: 100%;
  max-width: 800px;
  
}

.project-info {
  background-color: var(--bg-black-900);

  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 800px; /* Video ile hizalama için genişlik ayarı */
}

.project-info h3 {
  font-size: 24px;
  color: var(--text-black-900);
  margin: 20px 0 10px;
  
}

.project-info p {
  font-size: 16px;
  color: var(--text-black-700);
  margin-bottom: 20px;
}

.project-info ul {
  list-style: disc;
  padding-left: 20px;
}

.project-info ul li {
  margin-bottom: 10px;
  color: var(--text-black-900);
}

/* Sayfa içeriği */


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.content {
  background-color: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
  animation: slideInFromRight 1s ease;
}



/* Varsayılan Buton */
.aside .nav li a {
  color: var(--text-black-900); /* Varsayılan renk */
  background-color: transparent; /* Varsayılan arka plan rengi */
  text-decoration: none; /* Alt çizgi kaldırma */
  padding: 10px; /* Butonun padding'i */
  border-radius: 5px; /* Kenarların yuvarlatılması */
  transition: color 0.3s, background-color 0.3s; /* Renk değişimi animasyonu */
}

/* Aktif Buton */
.aside .nav li a.active {
  color: var(--skin-color); /* Aktif butonun yazı rengi */
  background-color: var(--active-bg-color); /* Aktif butonun arka plan rengi */
  font-weight: bold; /* Aktif butonun yazı kalınlığı */
}

/* Varsayılan renkler için CSS değişkenleri */
:root {
  --text-black-900: #000; /* Siyah renk kodu */
  --skin-color: #ff0000; /* Aktif butonun yazı rengi için kırmızı */
  --active-bg-color: #f0f0f0; /* Aktif butonun arka plan rengi */
}
/* Video Container */
.video-container {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
  margin-bottom: 20px; /* optional: for spacing */
}


/* Video */
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the entire video is visible */
}

/* Image Container */
.image-container {
  position: relative;
  width: 100%;
  max-width: 800px; /* or any other max-width you prefer */
  margin: 0 auto; /* Center the image */
  overflow: hidden; /* Hide overflow if needed */
}

/* Image */
.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover; /* or contain */
}


